/AspireAppTest/.vs/AspireAppTest
/AspireAppTest/AspireAppTest.ApiService/obj
/AspireAppTest/AspireAppTest.AppHost/obj
/AspireAppTest/AspireAppTest.ServiceDefaults/obj
/AspireAppTest/AspireAppTest.Web/obj
